@import '../../variables.css';

.login-form h2 {
    font-family: var(--font-family);
    color: var(--log-in-text-color);
    font-size: 40px;
    font-weight: bold;
}
.login-form p {
    font-size: 16px;
    color: var(--log-in-text-color);
}

.login-background {
    min-height: 650px;
    min-height: 100vh;
    min-height: 100dvh;
    overflow-x: auto;
    display: grid;
    place-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.1) , rgba(0,0,0,0.4)), url('../../../public/DLSU.svg');
    background-size: cover;
    background-position: center;
}
.login-container {
    height: 650px;
    width: 950px;
    max-height: 95vh;
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    padding: 0;
    overflow: hidden;
}
.company-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.company-section, .form-area {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.company-section img {
    width: 383px;
    height: 180px;
    object-fit: contain;
    display: block;
}
.company-section .logo-text{
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    margin-top: 24px;
    text-align: center;
}

.form-area{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: var(--border-radius);
}
.login-form {
    display: flex;
    flex-direction: column;     
    padding: 0 32px 32px 32px; 
    box-sizing: border-box;
    word-break: break-word;
}
.login-form h2 {
    margin-bottom: 0.2em;
}
.login-form p {
    margin-top:0;
    margin-bottom: 0.5em;
    opacity: 0.8;
}
.login-form a{
    color: var(--log-in-text-color);
}

.google-login-button {
    padding: 12px 6px;
    display:flex;
    border: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-color: var(--post-button-color);
    color: var(--background-color);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 0.5em;
    white-space: nowrap;
}

.google-login-button.loading {
    cursor: not-allowed;
    opacity: 0.7;
}

.google-login-button.loading span {
    opacity: 0.8;
}

.google-login-button:hover {
    transform: translateY(-2px);
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
}
.google-login-button .mailicon {
    margin-right: 2em;
}

@media (max-width: 790px) {
    .login-background,
    .login-container {
        min-height: 500px;  
        height: 100vh;
        max-height: none;
    }
    .company-section, .form-area {
        height: auto;       
        min-height: 250px;
        overflow: hidden;
        border-radius: none;
    }
}