@import '../../variables.css';

p {
    font-size: clamp(16px, 1.1vw, 16px);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

h2 {
    font-size: clamp(20px, 1.4vw, 20px);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.right-sidebar {
    height: 100dvh;
    height: 100vh;
    padding-top: 12px;
    padding-right: 4px;
    width: 280px;
    background-color: var(--background-color);
    border-left: 1px solid var(--border-color);
    position: fixed;
    right: 0; 
    display:flex;
    flex-direction: column;
    z-index: 1001;
    margin: 0;

}

.right-sidebar-list {
    padding: 0;
    width: 100%;
}

.message-list .message-profileimg {
    min-height: 3rem;
    min-width: 3rem;
    max-width: 3rem;
    max-height: 3rem;
    background-color: var(--empty-profile-img-color);
    border-radius: 50px;
    margin-right: 1rem;
}
.info .username {
    font-size: 14px;
    font-weight: bold;
    margin: 0.1rem 0 0.4rem 0;
}
.message-message .time {
    color: var(--post-font-color);
    opacity: 0.2;
    margin-left: 0.5rem
}

.message-list .message-status #active {
    min-height: 0.5rem;
    min-width: 0.5rem;
    display: grid;
    place-content: center;
    background-color: var(--primary-color);
    border-radius: 50px;
    margin-right: 0.5rem;
}
.notif, .message, .remind{
    width: 100%;
    height: auto;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.notif-header, .message-header,.remind-header {
    width: 100%;
    height: 50px;
    display: flex;
    font-weight: bold;
    flex-direction: row;
    align-items: center;
    box-sizing:border-box;
    cursor: pointer;
    padding: 0 8px;
}
.notif-header .notif-logo, .message-header .message-logo, .remind-header .remind-logo{
    flex: 20%;
    display: grid;
    place-items: center;

}
.notif-header .notif-title, .message-header .message-title, .remind-header .remind-title{
    flex: 50%;
    padding-left: 4px;
}
.notification-message {
  padding: 8px 12px;
  border-bottom: 1px solid var(--border-color);
}

.notif-header .notif-icon, .message-header .message-icon, .remind-header .remind-icon{
    flex: 30%;
    display: grid;
    place-items: center;
}
.notif-header.active, .message-header.active, .remind-header.active {
    background: var(--border-color); 
}
.notif-list, .message-list, .remind-list{
    list-style: none;
    width:100%;
    box-sizing:border-box;
    margin: 0;
    padding: 0; 
}
.message-list li {
    height: 4rem;
}
.notif-list li, .remind-list li {
    height: 40px;
}
.notif-list li, .message-list li, .remind-list li {
    list-style: none;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 0px 8px;
    
}
.notif-list li #title .message-list li #title .remind-list li #title{
    flex: 1;
    font-size: 14px;
}
.notif-list li:hover, .message-list li:hover, .remind-list li:hover{
    cursor: pointer;
}

@media (max-width: 1200px) {
    .right-sidebar{
        display: none;
    }

}